.app {
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
}

[class$="-page"] {
  height: 100%;
}

/** SOURCE : Bootstrap container */
.container,
.container-fluid,
.container-xxl,
.container-xl,
.container-lg,
.container-md,
.container-sm {
  width: 100%;
  padding-inline: 1rem;
  margin-inline: auto;
}
@media (min-width: 576px) {
  .container-sm,
  .container {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .container-md,
  .container-sm,
  .container {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .container-lg,
  .container-md,
  .container-sm,
  .container {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .container-xl,
  .container-lg,
  .container-md,
  .container-sm,
  .container {
    max-width: 1140px;
  }
}
@media (min-width: 1400px) {
  .container-xxl,
  .container-xl,
  .container-lg,
  .container-md,
  .container-sm,
  .container {
    max-width: 1320px;
  }
}

.auth-form {
  max-width: 800px;
  margin-inline: auto;
}

.auth-form button {
  color: #0dcaf0;
  border: 1px solid currentColor;
  padding: 6px 12px;
  border-radius: 0.25rem;
  background-color: transparent;
  text-transform: capitalize;
  cursor: pointer;
  transition: 0.2s ease;
}

.auth-form button:hover {
  background-color: #0dcaf0;
  color: #000;
}
