* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --bg-main: #131722;
  --bg-light: #24baef;
  --bg-transparent: rgba(36, 186, 239, 0.6);
  --clr-main: rgb(255 255 255 / 100%);
  --clr-secondery: rgb(255 255 255 / 55%);
  --clr-secondery-lighter: rgb(255 255 255 / 75%);
  --clr-primary: #0d6efd;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Montserrat Alternates", sans-serif;
  background-color: var(--bg-main);
  color: var(--main-color);
}
