* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --bg-main: #131722;
  --bg-light: #24baef;
  --bg-transparent: rgba(36, 186, 239, 0.6);
  --clr-main: rgb(255 255 255 / 100%);
  --clr-secondery: rgb(255 255 255 / 55%);
  --clr-secondery-lighter: rgb(255 255 255 / 75%);
  --clr-primary: #0d6efd;
  --pading-link: 8px;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Montserrat Alternates", sans-serif;
  background-color: var(--bg-main);
  color: var(--clr-main);
}

ul {
  list-style-type: none;
  padding: 0;
}

a {
  color: currentColor;
  text-decoration: none;
}

h2 {
  font-size: 28px;
  font-weight: 300;
  color: currentColor;
  margin-bottom: 1rem;
}

img {
  width: 100%;
  height: 100%;
}

input {
  width: 100%;
  padding: 6px 12px;
  border: 1px solid #fff;
  background-color: transparent;
  border-radius: 0.25rem;
  color: currentColor;
}

label {
  display: block;
  margin-bottom: 1rem;
}

label span {
  display: block;
  margin-bottom: 0.25rem;
  text-transform: capitalize;
  font-size: 14px;
}
